In [7]:
import pandas as pd
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import os

In [8]:
os.getcwd()

'/Users/azizhazeinita/MScA/Winter Quarter/Data Mining Principles'

In [28]:
train = pd.read_csv("/Users/azizhazeinita/MScA/Winter Quarter/Data Mining Principles/diabetes_train.csv", sep = ",")
test = pd.read_csv("/Users/azizhazeinita/MScA/Winter Quarter/Data Mining Principles/diabetes_test.csv", sep = ",")

In [29]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50062 entries, 0 to 50061
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 50062 non-null  int64
 1   raceAfricanAmerican        50062 non-null  int64
 2   raceAsian                  50062 non-null  int64
 3   raceHispanic               50062 non-null  int64
 4   gender                     50062 non-null  int64
 5   age                        50062 non-null  int64
 6   time_in_hospital           50062 non-null  int64
 7   num_lab_procedures         50062 non-null  int64
 8   num_procedures             50062 non-null  int64
 9   num_medications            50062 non-null  int64
 10  number_outpatient          50062 non-null  int64
 11  number_inpatient           50062 non-null  int64
 12  diag_1Diabetes             50062 non-null  int64
 13  diag_1Respiratory          50062 non-null  int64
 14  number_diagnoses           50062 non-null  int64
 15  max_glu_serumNormal        50062 non-null  int64
 16  max_glu_serumNot.tested    50062 non-null  int64
 17  A1CresultAbnormal          50062 non-null  int64
 18  metforminUp                50062 non-null  int64
 19  chlorpropamideNo           50062 non-null  int64
 20  glipizideDown              50062 non-null  int64
 21  pioglitazoneSteady         50062 non-null  int64
 22  rosiglitazoneUp            50062 non-null  int64
 23  acarboseUp                 50062 non-null  int64
 24  troglitazoneNo             50062 non-null  int64
 25  tolazamideNo               50062 non-null  int64
 26  insulinDown                50062 non-null  int64
 27  glyburide.metforminUp      50062 non-null  int64
 28  glipizide.metforminSteady  50062 non-null  int64
 29  diabetesMed                50062 non-null  int64
 30  readmitted                 50062 non-null  int64
dtypes: int64(31)
memory usage: 11.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21456 entries, 0 to 21455
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 21456 non-null  int64
 1   raceAfricanAmerican        21456 non-null  int64
 2   raceAsian                  21456 non-null  int64
 3   raceHispanic               21456 non-null  int64
 4   gender                     21456 non-null  int64
 5   age                        21456 non-null  int64
 6   time_in_hospital           21456 non-null  int64
 7   num_lab_procedures         21456 non-null  int64
 8   num_procedures             21456 non-null  int64
 9   num_medications            21456 non-null  int64
 10  number_outpatient          21456 non-null  int64
 11  number_inpatient           21456 non-null  int64
 12  diag_1Diabetes             21456 non-null  int64
 13  diag_1Respiratory          21456 non-null  int64
 14  number_diagnoses           21456 non-null  int64
 15  max_glu_serumNormal        21456 non-null  int64
 16  max_glu_serumNot.tested    21456 non-null  int64
 17  A1CresultAbnormal          21456 non-null  int64
 18  metforminUp                21456 non-null  int64
 19  chlorpropamideNo           21456 non-null  int64
 20  glipizideDown              21456 non-null  int64
 21  pioglitazoneSteady         21456 non-null  int64
 22  rosiglitazoneUp            21456 non-null  int64
 23  acarboseUp                 21456 non-null  int64
 24  troglitazoneNo             21456 non-null  int64
 25  tolazamideNo               21456 non-null  int64
 26  insulinDown                21456 non-null  int64
 27  glyburide.metforminUp      21456 non-null  int64
 28  glipizide.metforminSteady  21456 non-null  int64
 29  diabetesMed                21456 non-null  int64
 30  readmitted                 21456 non-null  int64
dtypes: int64(31)
memory usage: 5.1 MB

In [30]:
train = train.drop("Unnamed: 0", 1)
test = test.drop("Unnamed: 0", 1)

In [31]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50062 entries, 0 to 50061
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   raceAfricanAmerican        50062 non-null  int64
 1   raceAsian                  50062 non-null  int64
 2   raceHispanic               50062 non-null  int64
 3   gender                     50062 non-null  int64
 4   age                        50062 non-null  int64
 5   time_in_hospital           50062 non-null  int64
 6   num_lab_procedures         50062 non-null  int64
 7   num_procedures             50062 non-null  int64
 8   num_medications            50062 non-null  int64
 9   number_outpatient          50062 non-null  int64
 10  number_inpatient           50062 non-null  int64
 11  diag_1Diabetes             50062 non-null  int64
 12  diag_1Respiratory          50062 non-null  int64
 13  number_diagnoses           50062 non-null  int64
 14  max_glu_serumNormal        50062 non-null  int64
 15  max_glu_serumNot.tested    50062 non-null  int64
 16  A1CresultAbnormal          50062 non-null  int64
 17  metforminUp                50062 non-null  int64
 18  chlorpropamideNo           50062 non-null  int64
 19  glipizideDown              50062 non-null  int64
 20  pioglitazoneSteady         50062 non-null  int64
 21  rosiglitazoneUp            50062 non-null  int64
 22  acarboseUp                 50062 non-null  int64
 23  troglitazoneNo             50062 non-null  int64
 24  tolazamideNo               50062 non-null  int64
 25  insulinDown                50062 non-null  int64
 26  glyburide.metforminUp      50062 non-null  int64
 27  glipizide.metforminSteady  50062 non-null  int64
 28  diabetesMed                50062 non-null  int64
 29  readmitted                 50062 non-null  int64
dtypes: int64(30)
memory usage: 11.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21456 entries, 0 to 21455
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   raceAfricanAmerican        21456 non-null  int64
 1   raceAsian                  21456 non-null  int64
 2   raceHispanic               21456 non-null  int64
 3   gender                     21456 non-null  int64
 4   age                        21456 non-null  int64
 5   time_in_hospital           21456 non-null  int64
 6   num_lab_procedures         21456 non-null  int64
 7   num_procedures             21456 non-null  int64
 8   num_medications            21456 non-null  int64
 9   number_outpatient          21456 non-null  int64
 10  number_inpatient           21456 non-null  int64
 11  diag_1Diabetes             21456 non-null  int64
 12  diag_1Respiratory          21456 non-null  int64
 13  number_diagnoses           21456 non-null  int64
 14  max_glu_serumNormal        21456 non-null  int64
 15  max_glu_serumNot.tested    21456 non-null  int64
 16  A1CresultAbnormal          21456 non-null  int64
 17  metforminUp                21456 non-null  int64
 18  chlorpropamideNo           21456 non-null  int64
 19  glipizideDown              21456 non-null  int64
 20  pioglitazoneSteady         21456 non-null  int64
 21  rosiglitazoneUp            21456 non-null  int64
 22  acarboseUp                 21456 non-null  int64
 23  troglitazoneNo             21456 non-null  int64
 24  tolazamideNo               21456 non-null  int64
 25  insulinDown                21456 non-null  int64
 26  glyburide.metforminUp      21456 non-null  int64
 27  glipizide.metforminSteady  21456 non-null  int64
 28  diabetesMed                21456 non-null  int64
 29  readmitted                 21456 non-null  int64
dtypes: int64(30)
memory usage: 4.9 MB

In [35]:
train.head()

,raceAfricanAmerican,raceAsian,raceHispanic,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,pioglitazoneSteady,rosiglitazoneUp,acarboseUp,troglitazoneNo,tolazamideNo,insulinDown,glyburide.metforminUp,glipizide.metforminSteady,diabetesMed,readmitted
0,0,0,0,1,55,1,34,0,18,0,...,0,0,0,1,1,0,0,0,1,0
1,0,0,0,0,45,13,84,4,18,0,...,0,0,0,1,1,0,0,0,1,0
2,1,0,0,0,65,2,31,4,10,0,...,0,0,0,1,1,0,0,0,1,0
3,1,0,0,0,75,6,32,6,21,0,...,0,0,0,1,1,0,0,0,1,1
4,0,0,0,1,35,3,33,0,9,0,...,0,0,0,1,1,0,0,0,1,0

In [36]:
test.head()

,raceAfricanAmerican,raceAsian,raceHispanic,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,pioglitazoneSteady,rosiglitazoneUp,acarboseUp,troglitazoneNo,tolazamideNo,insulinDown,glyburide.metforminUp,glipizide.metforminSteady,diabetesMed,readmitted
0,0,0,0,0,5,1,41,0,1,0,...,0,0,0,1,1,0,0,0,0,0
1,0,0,0,1,35,2,44,1,16,0,...,0,0,0,1,1,0,0,0,1,0
2,1,0,0,0,45,9,47,2,17,0,...,0,0,0,1,1,0,0,0,1,1
3,0,0,0,0,45,7,60,0,15,0,...,0,0,0,1,1,1,0,0,1,1
4,0,0,0,1,85,10,55,1,31,0,...,0,0,0,1,1,0,0,0,1,0

In [38]:
X_train = train.drop(['readmitted'], axis=1)
y_train = train.readmitted
X_test = test.drop(['readmitted'], axis=1)
y_test = test.readmitted

In [39]:
#Doing SVM

svm = SVC(kernel='rbf', random_state=42)
svm.fit(X_train, y_train)

SVC(random_state=42)

In [40]:
#Doing Prediction

svm_pred_train = svm.predict(X_train)
svm_pred_test = svm.predict(X_test)

In [46]:
print("Confussion Matrix of SVM Train Set: \n", confusion_matrix(y_train, svm_pred_train))
print("\n")
print("Confussion Matrix of SVM Test Set: \n", confusion_matrix(y_test, svm_pred_test))

Confussion Matrix of SVM Train Set:
 [[29814   240]
 [19360   648]]


Confussion Matrix of SVM Test Set:
 [[12832    99]
 [ 8266   259]]

In [49]:
print("Accuracy Score of SVM Train Set: ", accuracy_score(y_train, svm_pred_train))
print("Accuracy Score of SVM Test Set: ", accuracy_score(y_test, svm_pred_test))

Accuracy Score of SVM Train Set:  0.6084854780072709
Accuracy Score of SVM Test Set:  0.6101323639075317

In [51]:
#Download dataset
df1 = pd.DataFrame(svm_pred_train)
df2 = pd.DataFrame(svm_pred_test)

df1.to_csv('svm_pred_train.csv')
df2.to_csv('svm_pred_test.csv')